@import '../../scss/breakpoints.scss';
@import '../../scss/vars';
.section {
  text-align: center;
  padding: 40px 0 0 0;

  @media screen and (min-width: $tablet) {
    padding-top: 134px;
  }
}
.sectionTitle {
  margin: 0 auto 14px auto;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  @media screen and (max-width: $mobile-max) {
    font-size: 28px;
    line-height: 1.18;
  }
  @media screen and (min-width: $tablet) {
    font-size: 65px;
    line-height: 0.62;
    margin-bottom: 56px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 60px;
  }
}
.constructionList {
  list-style: none;
  margin: 0 0 40px 0;
  padding: 0;
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 84px;
  }
}
.listItem {
  font-family: 'Open Sans';
  font-style: normal;

  @media screen and (max-width: $mobile-max) {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
  @media screen and (min-width: $tablet) {
    position: relative;
    max-height: 438px;
    min-height: 400px;
    &:not(:last-child) {
      margin-bottom: 44px;
    }
    &:not(:nth-child(3n)) {
      margin-right: 60px;
    }
  }
  @media screen and (min-width: $desktop) {
    &:not(:nth-child(3n)) {
      margin-right: 200px;
    }
  }
}

.imageItem {
  @media screen and (max-width: $mobile-max) {
    margin-bottom: 20px;
    max-width: 296px;
    max-height: 160px;
  }
  @media screen and (min-width: $tablet) {
    max-width: 715px;
  }
}
.constructionDescription {
  @media screen and (min-width: $tablet) {
    position: absolute;
    width: 180px;
    top: 290px;
    left: 40%;
    transform: translateX(-50%);
  }
}
.nameItem {
  margin: 0 0 10px 0;
  font-weight: bold;
  @media screen and (max-width: $mobile-max) {
    font-size: 18px;
    line-height: 1.06;
  }
  @media screen and (min-width: $tablet) {
    font-size: 24px;
    line-height: 1.25;
  }
}
.priceItem {
  margin: 0;
  font-weight: bold;
  @media screen and (max-width: $mobile-max) {
    font-size: 18px;
    line-height: 2.22;
  }
  @media screen and (min-width: $tablet) {
    font-size: 24px;
    line-height: 1.67;
  }
}
.calculateSection {
  background-color: $blue;
  text-align: center;
  font-family: 'Open Sans';
  font-style: normal;

  @media screen and (max-width: $mobile-max) {
    padding: 36px 20px 44px 20px;
  }
  @media screen and (min-width: $tablet) {
    padding-top: 116px;
    padding-bottom: 128px;
    background-image: url(../../images/windowPayment1.svg),
      url(../../images/6-9.svg);
    background-position-x: 5px, calc(100% - 20px);
    background-position-y: 84px, 50px;
    background-repeat: no-repeat, no-repeat;
  }
  @media screen and (min-width: $desktop) {
    background-position-x: 92px, calc(100% - 92px);
  }
}
.calculateText {
  margin: 0 auto 24px auto;
  color: #ffffff;
  font-weight: bold;
  @media screen and (max-width: $mobile-max) {
    padding: 0 20px;
    font-size: 28px;
    line-height: 1.18;
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 34px;
    width: 486px;
    font-size: 40px;
    line-height: 1.25;
  }
}
.btn {
  text-align: center;
  text-transform: uppercase;
  background: $dark-blue;
  color: #ffffff;
  font-weight: 600;
  border: none;
  cursor: pointer;
  &:hover,
  &:focus {
    color: $dark-blue;
    background-color: #ffffff;
    outline: none;
  }
  @media screen and (max-width: $mobile-max) {
    height: 50px;
    width: 320px;
    font-size: 14px;
    line-height: 2.86;
  }
  @media screen and (min-width: $tablet) {
    height: 58px;
    width: 450px;
    font-size: 16px;
    line-height: 2.5;
  }
}
