@import '../../scss/breakpoints.scss';
@import '../../scss/vars';
.section {
  text-align: center;
  padding: 40px 0 40px 0;
  background-repeat: no-repeat;

  @media screen and (max-width: $mobile-max) {
    background-image: url(../../images/rectangleMobile.svg), url(./back.svg);
    background-position-x: 140px, 0;
    background-position-y: 60px, 132px;
  }
  @media screen and (min-width: $tablet) {
    padding-top: 134px;
    padding-bottom: 84px;
    background-image: url(../../images/rectangleTablet.svg);
    background-position-x: 440px;
    background-position-y: 162px;
  }
  @media screen and (min-width: $desktop) {
    background-position-x: 750px;
  }
}
.sectionTitle {
  margin: 0 auto 14px auto;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;

  @media screen and (max-width: $mobile-max) {
    font-size: 28px;
    line-height: 1.18;
  }
  @media screen and (min-width: $tablet) {
    font-size: 65px;
    line-height: 0.62;
    margin-bottom: 56px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 60px;
  }
}
.constructionList {
  list-style: none;
  margin: 0;
  padding: 0;
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
.listItem {
  font-family: 'Open Sans';
  font-style: normal;

  @media screen and (max-width: $mobile-max) {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
  @media screen and (min-width: $tablet) {
    position: relative;
    max-height: 438px;
    min-height: 400px;
    &:not(:last-child) {
      margin-bottom: 44px;
    }
    &:not(:nth-child(3n)) {
      margin-right: 60px;
    }
  }
  @media screen and (min-width: $desktop) {
    &:not(:nth-child(3n)) {
      margin-right: 200px;
    }
  }
}

.imageItem {
  @media screen and (max-width: $mobile-max) {
    margin-bottom: 20px;
    min-width: 112px;
    max-width: 296px;
    max-height: 160px;
  }
  @media screen and (min-width: $tablet) {
    max-width: 715px;
  }
}
.constructionDescription {
  @media screen and (min-width: $tablet) {
    position: absolute;
    width: 180px;
    top: 290px;
    left: 40%;
    transform: translateX(-50%);
  }
}
.nameItem {
  margin: 0 0 10px 0;
  font-weight: bold;
  @media screen and (max-width: $mobile-max) {
    font-size: 18px;
    line-height: 1.06;
  }
  @media screen and (min-width: $tablet) {
    font-size: 24px;
    line-height: 1.25;
  }
}
.priceItem {
  margin: 0;
  font-weight: bold;
  @media screen and (max-width: $mobile-max) {
    font-size: 18px;
    line-height: 2.22;
  }
  @media screen and (min-width: $tablet) {
    font-size: 24px;
    line-height: 1.67;
  }
}
