@import '../../scss/breakpoints.scss';
@import '../../scss/vars';

.form {
  text-align: center;
  @media screen and (max-width: $mobile-max) {
    padding: 0 20px 0 20px;
  }
  @media screen and (min-width: $tablet) {
    padding: 0 60px 0 60px;
    width: 470px;
  }
}
.title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  height: 34px;
  margin-top: 0;
  @media screen and (max-width: $mobile-max) {
    line-height: 1.37px;
    margin-bottom: 12px;
  }
  @media screen and (min-width: $tablet) {
    line-height: 1.33px;
    margin-bottom: 14px;
    height: 46px;
  }
}

.inputForm {
  padding: 8px 18px;
  outline: 0;
  &:focus,
  &:hover {
    border: 1px solid $blue;
  }
  &::placeholder {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.33;
    color: #999999;
  }
  @media screen and (max-width: $mobile-max) {
    width: 280px;
    margin-bottom: 10px;
    height: 34px;
  }
  @media screen and (min-width: $tablet) {
    width: 350px;
    margin-bottom: 20px;
    height: 44px;
    &::placeholder {
      font-size: 18px;
      line-height: 25px;
    }
  }
}

.btn {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background-color: rgba(58, 47, 110, 0.3);
  &:enabled {
    background-color: $dark-blue;
  }
  &:enabled:hover,
  &:enabled:focus {
    background-color: $blue;
    outline: none;
  }
  @media screen and (max-width: $mobile-max) {
    height: 50px;
    width: 280px;
    font-size: 14px;
    line-height: 1.35;
  }
  @media screen and (min-width: $tablet) {
    height: 58px;
    width: 310px;
    font-size: 16px;
    line-height: 1.37;
  }
}

.recaptcha {
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  @media screen and (max-width: $mobile-max) {
    margin-bottom: 12px;
    transform: scale(0.92);
    -webkit-transform: scale(0.92);
    -ms-transform: scale(0.92);
    -moz-transform: scale(0.92);
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 36px;
    transform: scale(1.07);
    -webkit-transform: scale(1.07);
    -ms-transform: scale(1.07);
    -moz-transform: scale(1.07);
  }
}
