@import '../../scss/breakpoints.scss';
@import '../../scss/vars';

.section {
  text-align: center;
  padding: 30px 0 20px 0;
  @media screen and (min-width: $tablet) {
    padding-top: 110px;
    padding-bottom: 42px;
  }
}
.sectionTitle {
  position: relative;
  margin: 0 auto 32px auto;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  &::before {
    content: '';
    position: absolute;
    background-color: rgba(16, 160, 222, 0.2);
  }
  @media screen and (max-width: $mobile-max) {
    width: 240px;
    font-size: 28px;
    line-height: 1.18;
    &::before {
      top: 20px;
      left: 0;
      width: 238px;
      height: 10px;
    }
  }
  @media screen and (min-width: $tablet) {
    width: 1000px;
    font-size: 65px;
    line-height: 1.08;
    margin-bottom: 62px;
    &::before {
      top: 44px;
      left: 80px;
      width: 554px;
      height: 20px;
    }
  }
}

.stepsList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 20px;
  margin: 0;
  span {
    display: block;
    padding: 36px 0;
    font-family: 'Open Sans';
    font-weight: 700;
    color: transparent;
    text-shadow: 0.04em 0 rgba(16, 160, 222, 0.2);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #10a0de;
    background-image: url(../../images/target.svg);
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (max-width: $mobile-max) {
      font-size: 65px;
      line-height: 1.08;
      padding: 36px 0;
      height: 152px;
      background-size: cover;
    }
    @media screen and (min-width: $tablet) {
      font-size: 100px;
      line-height: 0.7;
      padding: 76px 0;
      height: 238px;
      background-size: contain;
    }
  }
}

.listItem {
  text-align: center;
  @media screen and (max-width: $mobile-max) {
    max-width: calc($mobile / 2 - 30px);

    &:nth-child(2n + 1) {
      margin-right: 20px;
    }
    &:not(:last-child) {
      margin-bottom: 36px;
    }
  }
  @media screen and (min-width: $tablet) {
    max-width: calc($tablet / 3 - 40px);
    margin-bottom: 40px;
    &:not(:nth-child(3n)) {
      margin-right: 20px;
    }
  }
  @media screen and (min-width: $desktop) {
    &:not(:nth-child(3n)) {
      margin-right: 238px;
    }
  }
}
.nameItem {
  margin: 16px auto 22px auto;
  font-weight: 700;
  line-height: 1.28;
  @media screen and (max-width: $mobile-max) {
    font-size: 18px;
  }
  @media screen and (min-width: $tablet) {
    font-size: 24px;
    max-width: 280px;
  }
}

.descriptionItem {
  margin: 0 auto;
  padding: 0 6px;
  font-weight: 400;
  @media screen and (max-width: $mobile-max) {
    font-size: 12px;
    line-height: 1.42;
  }
  @media screen and (min-width: $tablet) {
    font-size: 18px;
    line-height: 1.39;
    padding: 0 10px;
  }
}
