@import '../../scss/breakpoints.scss';
@import '../../scss/vars';

.section {
  text-align: center;
  padding: 40px 0 0 0;

  @media screen and (min-width: $tablet) {
    padding-top: 120px;
  }
}

.sectionTitle {
  margin: 0 auto 30px auto;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  @media screen and (max-width: $mobile-max) {
    width: 280px;
    font-size: 28px;
    line-height: 1.18;
  }
  @media screen and (min-width: $tablet) {
    width: 1000px;
    font-size: 65px;
    line-height: 1.08;
    margin-bottom: 84px;
  }
}
.advantagesList {
  list-style: none;
  margin: 0 auto 44px auto;
  padding: 0;
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 118px;
  }
  @media screen and (min-width: $desktop) {
    justify-content: center;
  }
}

.listItem {
  font-family: 'Open Sans';
  font-style: normal;

  @media screen and (max-width: $mobile-max) {
    display: flex;
    padding: 0 22px 0 30px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  @media screen and (min-width: $tablet) {
    padding: 0 40px;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.imageItem {
  @media screen and (max-width: $mobile-max) {
    width: 70px;
    margin-right: 28px;
  }
  @media screen and (min-width: $tablet) {
    width: 144px;
    height: 144px;
    margin-bottom: 44px;
  }
}
.advantageDescription {
  @media screen and (min-width: $tablet) {
    max-width: 220px;
    text-align: center;
  }
}
.nameItem {
  margin: 0 0 5px 0;
  @media screen and (max-width: $mobile-max) {
    text-align: left;
    font-size: 18px;
    line-height: 1.22;
  }
  @media screen and (min-width: $tablet) {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 10px;
  }
}
.descriptionItem {
  margin: 0;
  @media screen and (max-width: $mobile-max) {
    text-align: left;
    font-size: 12px;
    line-height: 1.42;
  }
  @media screen and (min-width: $tablet) {
    font-size: 18px;
    line-height: 1.33;
  }
}

.measuringSection {
  background-color: $blue;
  text-align: center;
  font-family: 'Open Sans';
  font-style: normal;

  @media screen and (max-width: $mobile-max) {
    padding: 38px 20px 44px 20px;
  }
  @media screen and (min-width: $tablet) {
    padding-top: 120px;
    padding-bottom: 128px;
    background-image: url(../../images/telephone.svg), url(../../images/3-6.svg);
    background-position-x: 20px, 100%;
    background-position-y: 96px, 52px;
    background-repeat: no-repeat, no-repeat;
  }
  @media screen and (min-width: $desktop) {
    background-position-x: 0px, 100%;
  }
}

.text {
  margin: 0 auto 20px auto;
  color: #ffffff;
  font-weight: bold;
  @media screen and (max-width: $mobile-max) {
    padding: 0 20px;
    font-size: 28px;
    line-height: 1.18;
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 34px;
    width: 486px;
    font-size: 40px;
    line-height: 1.25;
  }
}
.btn {
  text-align: center;
  text-transform: uppercase;
  background: $dark-blue;
  color: #ffffff;
  font-weight: 600;
  border: none;
  cursor: pointer;
  &:hover,
  &:focus {
    color: $dark-blue;
    background-color: #ffffff;
    outline: none;
  }
  @media screen and (max-width: $mobile-max) {
    height: 50px;
    width: 320px;
    font-size: 14px;
    line-height: 2.86;
  }
  @media screen and (min-width: $tablet) {
    height: 58px;
    width: 450px;
    font-size: 16px;
    line-height: 2.5;
  }
}
