@import '../../scss/breakpoints.scss';
@import '../../scss/vars';

.form {
  @media screen and (max-width: $mobile-max) {
    padding: 0 20px 0 20px;
    text-align: center;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 60px 0 60px;
    width: 820px;
  }
}
.title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  @media screen and (max-width: $mobile-max) {
    line-height: 1.37px;
    margin-top: 0;
    margin-bottom: 12px;
    height: 34px;
  }
  @media screen and (min-width: $tablet) {
    line-height: 1.33px;
    height: 46px;
    margin-bottom: 14px;
  }
}
.size {
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: $tablet) {
    width: 332px;
  }
}
.inputSize {
  @media screen and (max-width: $mobile-max) {
    width: 130px;
    height: 34px;
  }
  @media screen and (min-width: $tablet) {
    width: 158px;
    height: 44px;
  }
}

.selection {
  padding: 2px 2px 0 18px;
  color: #999999;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  outline: 0;
  &:focus,
  &:hover {
    border: 1px solid $blue;
  }
  @media screen and (max-width: $mobile-max) {
    margin-bottom: 10px;
    width: 280px;
    height: 34px;
  }
  @media screen and (min-width: $tablet) {
    width: 332px;
    height: 44px;
    margin-bottom: 20px;
  }
}

.defaultOption {
  @media screen and (max-width: $mobile-max) {
    font-size: 12px;
    line-height: 1.33;
  }
  @media screen and (min-width: $tablet) {
    font-size: 18px;
    line-height: 25px;
  }
}

.inputForm {
  @media screen and (max-width: $mobile-max) {
    width: 280px;
    height: 34px;
  }
  @media screen and (min-width: $tablet) {
    width: 332px;
    height: 44px;
  }
}
.textareaForm {
  @media screen and (max-width: $mobile-max) {
    width: 280px;
  }
  @media screen and (min-width: $tablet) {
    width: 700px;
  }
}
.textareaForm,
.inputForm,
.inputSize {
  padding: 2px 2px 0 18px;
  outline: 0;
  &:focus,
  &:hover {
    border: 1px solid $blue;
  }
  &::placeholder {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.33;
    color: #999999;
  }
  @media screen and (max-width: $mobile-max) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 20px;
    &::placeholder {
      font-size: 18px;
      line-height: 25px;
    }
  }
}
.userData,
.controlData {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    width: 332px;
  }
}
.btn {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background-color: rgba(58, 47, 110, 0.3);
  &:enabled {
    background-color: $dark-blue;
  }
  &:enabled:hover,
  &:enabled:focus {
    background-color: $blue;
    outline: none;
  }
  @media screen and (max-width: $mobile-max) {
    height: 50px;
    width: 280px;
    font-size: 14px;
    line-height: 1.35;
  }
  @media screen and (min-width: $tablet) {
    height: 58px;
    width: 328px;
    font-size: 16px;
    line-height: 1.37;
  }
}

.recaptcha {
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  @media screen and (max-width: $mobile-max) {
    margin-bottom: 12px;
    transform: scale(0.92);
    -webkit-transform: scale(0.92);
    -ms-transform: scale(0.92);
    -moz-transform: scale(0.92);
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 36px;
    transform: scale(1.07);
    -webkit-transform: scale(1.07);
    -ms-transform: scale(1.07);
    -moz-transform: scale(1.07);
  }
}
