@import './scss/breakpoints.scss';

.App {
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
  @media screen and (max-width: $mobile-max) {
    width: 360px;
  }
  @media screen and (min-width: $tablet) {
    width: 1300px;
    background-image: url(./images/background.svg);
    background-position-x: -300px;
    background-repeat: no-repeat;
  }
  @media screen and (min-width: $desktop) {
    width: 1920px;
    background-position-x: 0px;
  }
}
